@'
# Secrets
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Données (le dataset se télécharge depuis Kaggle)
data/raw/*.csv
data/processed/*.csv

# Notebooks / IDE
.ipynb_checkpoints/
.vscode/
'@ | Set-Content -Path hr-analytics-etl\.gitignore -Encoding ascii